.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  width: 360px;
  border: #e7e7e7 1px solid;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.product__title {
  text-align: center;
  width: 400px;
}

.product__image {
  margin-top: 20px;
}

.product__price {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 700;
}
